<!-- ***************** - Top Footer - ***************** -->
<div id="footer">
    <div class="footer-area">
        <div class="footer-wrapper">
            <div class="footer-holder">
                <!-- /***************** - Footer Content Starts Here - ***************** -->
                @*                            <h2>Our Sponsors</h2>
                            <div class="one_fifth"><h3>Benefactor</h3></div>
                            <div class="four_fifth_last"><h3>Platinum</h3></div>
                            
                            <br class="clear"/>
                            
                            <div class="one_fifth">DPL</div>
                            <div class="one_fifth">Twillio</div>
                            <div class="one_fifth">DiscountASP.NET</div>
                            <div class="one_fifth">ComponentOne</div>
                            <div class="one_fifth_last">Infragisitics</div>
                            

                            <br class="clear"/>*@
                <div class="one_fourth">
                    <h3>
                        Brought to you by...</h3>
                    <div class="modern_img_frame modern_four_col_large">
                        <div class="preload_four_col_large">
                            <div class="attachment-fadeIn">
                                <a href="http://www.lincolndev.net">
                                    <img src="@Url.Content("~/Content/images/ldnug_footer.png")"
                                            alt="#" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="modern_img_frame modern_four_col_large">
                        <div class="preload_four_col_large">
                            <div class="attachment-fadeIn">
                                <a href="http://acm.unl.edu/">
                                    <img src="@Url.Content("~/Content/images/acm_footer.png")"
                                            alt="#" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end first one_fourth_column -->
                <div class="one_half">
                    <h3>Social Links</h3>
                  
                <div class="one_fourth_last">
                    <h3>Location</h3>
                   
                </div>
                <!-- end fourth one_fourth_column -->
                <!-- ***************** - END Footer Content - ***************** -->
            </div>
            <!-- footer-holder -->
        </div>
        <!-- end footer-wrapper -->
    </div>
    <!-- end footer-area -->
</div>
<!-- end footer -->
<!-- /***************** - END Top Footer Area - ***************** -->
<!-- /***************** - Bottom Footer - ***************** -->
<div id="footer_bottom">
    <div class="info">
        <div id="foot_left">
@*            <p>
                Copyright &copy; 2011-2012 Nebraska Code Camp. All rights reserved.</p>*@
        </div>
        <!-- end foot_left -->
        <div id="foot_right">
            <div class="top-footer">
                <a href="#" class="link-top">top</a></div>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Sessions", "Index", "Sessions")</li>
                <li>@Html.ActionLink("Speakers", "Index", "Speakers")</li>
                <li>@Html.ActionLink("About", "Index", "About")</li>
                <li>@Html.ActionLink("Contact Us", "Index", "Contact")</li>
                @Html.Partial("_LogOnPartial")
            </ul>
        </div>
        <!-- end foot_right -->
    </div>
    <!-- end info -->
</div>
<!-- end footer_bottom -->
<!-- /***************** - END Bottom Footer - ***************** -->
