@using GreatPlainsGameFestival.Helpers;
@using Telerik.Web.Mvc.UI
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
    @{
        if (ViewBag.Title != null && ViewBag.Title != "" && !ViewBag.Title.Contains("Great Plains Game Festival"))
        {
            ViewBag.Title = "Great Plains Game Festival: " + ViewBag.Title;
        }
        else
        {
            ViewBag.Title = "Great Plains Game Festival";
        }
    }
    <title>@ViewBag.Title</title>
    <!--[if lte IE 8]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.min.js")" type="text/javascript"></script>
    
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/karma.js")"></script>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/karma-cherry.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/forms.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="#" />
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/lt8.css")" media="screen"/><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/ie8.css")" media="screen"/><![endif]-->
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.telerik.min.css").Combined(true).Compress(true)))
</head>
<body>
    <div id="wrapper">
        <div id="header">
            @Html.Partial("_AdminMenu")
            <div class="header-holder">
                <div class="rays">
                    <div class="header-area">
                        @Html.Partial("_Header")
                    </div>
                    <!-- header-area -->
                </div>
                <!-- end rays -->
            </div>
            <!-- end header-holder -->
        </div>
        <!-- end header -->
        <div id="main">
            <div class="main-area">
                
                <!-- ***************** - START Title Bar - ***************** -->
                <div class="tools">
                    <div class="holder">
                        <div class="frame">
                            <h1>@RenderSection("pageHeadline")</h1>
                        </div>
                        <!-- end frame -->
                    </div>
                    <!-- end holder -->
                </div>
                <!-- end tools -->
                <!-- ***************** - END Title Bar - ***************** -->
                <div class="main-holder">
                    <!-- ***************** - START Content - ***************** -->
                    <div class="content_full_width" id="content" >
                        @RenderBody()
                    </div>
                    <!-- end content -->
                    <!-- ***************** - END content - ***************** -->
                   
                </div>
                <!-- end main-holder -->
            </div>
            <!-- main-area -->
            @Html.Partial("_Footer")
        </div>
    </div>
    <!-- end wrapper -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.cycle.all.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2-slider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/testimonial-slider.js")"></script>
    <script type="text/javascript">
        if (TTjquery.browser.msie) { TTjquery(window).load(function () { TTjquery('.big-banner #main .main-area').css("padding-top", "138px"); }); } else { }
    </script>
    @(Html.Telerik().ScriptRegistrar().jQuery(false))
</body>
</html>
