<h3>Benefactors</h3>
<a href="http://www.dontpaniclabs.com"><img src="@Url.Content("~/Content/sponsors/dpl-small.png")" class="sponsor_logo" alt="Don't Panic Labs" /></a>
<br/><br/><br/>
<h3>Platinum Sponsors</h3>
<a href="http://www.componentone.com"><img src="@Url.Content("~/Content/sponsors/componentone-small.png")" class="sponsor_logo" alt="ComponentOne" /></a><br/>
<a href="http://www.discountasp.net"><img src="@Url.Content("~/Content/sponsors/discountaspnet-small.png")" class="sponsor_logo" alt="DiscountASP.NET" /></a><br/>
<a href="http://www.twilio.com"><img src="@Url.Content("~/Content/sponsors/twilio-small.png")" class="sponsor_logo" alt="Twilio" /></a><br/>
<a href="http://www.infragistics.com"><img src="@Url.Content("~/Content/sponsors/infragistics-small.png")" class="sponsor_logo" alt="Infragistics" /></a><br/><br/><br/>
@Html.ActionLink("See all our sponsors", "Index", "Sponsors")
